[Desktop Entry]
Type=Application
Exec=/home/mirth/.config/scripts/wallpaper.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Random Wallpaper
Comment=Set random wallpaper on login

